.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/__pycache__/**
python/deps/untypy/test/**
python/deps/untypy/examples/**
python/tests/*
python/file-tests/*
python/integration-tests/*
pytrace-generator/test/**
